*.pyc
*.tsbuildinfo
/*.egg-info/
/agents/*/node_modules/
/apps/*/.vite/
/apps/*/dist/
/apps/*/node_modules/
/apps/*/yarn.lock
/bridges/node_modules/
/build/
/deps/
/dist/
/ainakan_tools/*.zip
/ainakan_tools/*_agent.js
/ainakan_tools/bridges/
/subprojects/ainakan-core.wrap
/subprojects/ainakan-core/
/subprojects/ainakan-gum.wrap
/subprojects/ainakan-gum/
/subprojects/ainakan-python/
